
{% include 'admin_header.html' %}

{% include 'admin_index_navbar.html' %}



<div>
  <br>
    <div class="col-md-12 grid-margin transparent">
              <div class="row">
                <div class="col-md-6 mb-4 stretch-card transparent">
                  <div class="card card-tale">
                    <div class="card-body">
                      <p class="mb-4">Total User</p>
                      <p class="fs-30 mb-2">{{total_u}}</p>
                      <p></p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 mb-4 stretch-card transparent">
                  <div class="card card-dark-blue">
                    <div class="card-body">
                      <p class="mb-4">Total Product</p>
                      <p class="fs-30 mb-2">{{totalsubmit}}</p>
                      <p></p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-4 mb-lg-0 stretch-card transparent">
                  <div class="card card-light-blue">
                    <div class="card-body">
                      <p class="mb-4">Total Seller</p>
                      <p class="fs-30 mb-2">18</p>
                      <p></p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 stretch-card transparent">
                  <div class="card card-light-danger">
                    <div class="card-body">
                      <p class="mb-4">Total Services</p>
                      <p class="fs-30 mb-2">7</p>
                      <p></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

</div>



{% include 'admin_index_footer.html' %}